@font-face {
   font-family: 'IDroid';
   src: url('IDroid.otf');
   font-weight: normal;
   font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header{
    color: white;
    background-image: linear-gradient(to bottom, #269056, #063D1E);
    padding: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.445);
}

header > h1{
   font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-shadow: 0px 2px 3px #00000080;
}
 header > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    text-shadow: 0px 2px 3px #00000080;
    
 }

 header > nav > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #84E2AE;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    
 }

 .linkcomquadrado:hover{
   background-color: #2FA866;
   color:#063D1E;
   padding: 8px;
   border-radius: 5px;
   text-decoration: none;

 }

 body{
    background-color: #EBE5C5;
    margin: 0px;
    
 }

 main{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.445);
 }



 article{
   width: 1000px;
 }

 article > h1{
   margin-top: 0px;
   font-size: 36px;
   

 }

 article > h1, h2{
    color: #063D1E;
    font-family: 'IDroid';
    font-weight: normal;
   font-style: normal;
 }
 
 article > h2{
    background-image: linear-gradient(to right, #84E2AE, white);
    font-size: 26px;


 }
 article > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    text-indent: 30px;
 }

 article > p > strong{
   color: #063D1E;
 }

 a:hover{
   text-decoration: underline;
   color: #1A5C37;
 }

 .backgroundlink{
   background-color: #84E2AE;
   padding: 2px;
 }


 article > p > strong > a {
   color: #063D1E;
   text-decoration: none;

 }


 article > aside > p > strong{
   color: #063D1E;
 }

 article > section{
    background-color: rgb(6, 59, 39);
    margin: auto;
    padding: 20px 30px;
 }
 

 article > h3{
   
      background-color: #1A5C37;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      padding: 10px;
      border-radius: 10px 10px 0px 0px;
      margin-bottom: 0px;
      font-size: 23px;
 }

 aside{
   background-color: #83E1AD;
   padding: 10px 10px 10px 10px;
   border-radius: 0px 0px 10px 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.445);
   
   
 }
 aside > p{
   margin-top: 0px;
   text-indent: 30px;
   text-align: justify;
 }

aside > p > strong > a{
   text-decoration: none;
   color: #063D1E;

}


 footer{
    text-align: center;
    background-color: #063D1E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 1px;
    margin: 20px 0px 0px 00px;

 }

 footer > p{
   margin-bottom: 6px;
   margin-top: 6px;
 }